<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Answering survey {{data[2]}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: rgb(239, 239, 239)">
    <div
      class="container shadow"
      style="
        background-color: white;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
      "
    >
      <h1 style="text-align: center">START ANSWERING THE SURVEY!</h1>
      <div style="margin-left: 20px; margin-top: 10px">
        <p class="fs-5">
          <span class="fw-bold text-capitalize">Survey Code:</span>
          {{data['survey_details'][0]}}
        </p>
        <p class="fs-5">
          <span class="fw-bold text-capitalize">surveyor:</span>
          {{data['survey_details'][1]}}
        </p>
        <p class="fs-5">
          <span class="fw-bold text-capitalize">Date Created:</span>
          {{data['survey_details'][-1]}}
        </p>
      </div>
      <div style="margin-left: 20px; margin-right: 20px">
        <h2 style="text-align: center" class="fw-bold">
          {{data['survey_details'][2]}}
        </h2>
        <p class="fs-5 fw-bold mb-2">Description:</p>
        <p style="text-align: justify" class="fs-5">
          {{data['survey_details'][3]}}
        </p>
      </div>

      <div style="margin-left: 20px; margin-right: 20px">
        <p class="fs-5 fw-bold">Start Answering The Below Questions:</p>
        <form action="/ans_survey_post" method="post">
          <input
            hidden
            name="survey_code"
            value="{{data['survey_details'][0]}}"
          />
          {% for i in data['questions'] %}
          <p class="fs-5">
            <span class="fw-bold">{{i['order']}}.</span>
            {{i['Description']}}
          </p>
          {% if i['questiontype_id'] == 1 %} {% for j in i['options'] %}
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="q{{i['QuestionId']}}-{{i['questiontype_id']}}-{{i['questiontype_id']}}"
              id="{{j['order']}}"
              value="{{j['order']}}"
              required
            />
            <label class="form-check-label" for="{{j['order']}}">
              {{j['OptDesc']}}
            </label>
          </div>
          {% endfor %} {% else %}
          <textarea
            type="text"
            name="q{{i['QuestionId']}}-{{i['questiontype_id']}}-None"
            required
            class="form-control"
          ></textarea>

          {%endif %} {%endfor %}
          <button
            class="btn btn-success"
            type="submit"
            style="display: block; margin-top: 20px"
          >
            Answer Survey
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
